@import url(//db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse);

:root {
    --background: #0e0e0e;
    --text: rgba(236, 27, 236, 0.834);
}
body {
    background-color: var(--background);
    
    
}
.container {
    display: flex;
    justify-content: center;
}
/* .splash {
    width: 50vh;
    height: 100vh;
} */
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 20vh;
    width: 40vh;
    margin-top: 70%;
    color: rgb(228, 207, 228);
    font-size:13ch;
    text-align: end;
    display: flex;
    font-family: "Norse"; src: url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot");
}
.overlay > p {
    margin-top: 0;
}
.logo {
    height: 20vh;
    width: 20vh;
}
.image {
    background-image: url(images/splash.jpg);
    background-position: center;
    width: 40vh;
    background-size: auto;
    height: 100vh;
    max-height:100%;
    object-fit:contain
}
.image img {
    width: 40vh;
    
}
.top  {
    background-color:var(--background);
    width: 100vh;
    height: 40vh;
}
.middle {
    background-color: white;
    width: 100vh;
    height: 40vh;
}
.bottom {
    background-color:var(--background);
    width: 100vh;
    height: 20vh;
}
.blurb {
    margin-top: 0;
    padding-top: 15vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-align: left;
    padding-left: 5vh;
    color: var(--text);
}
p.blurb ~ p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    padding-left: 5vh;
    color: var(--text);
}
.form {
    background-color: var(--background);
    color: white;
}
input {
    background-color: var(--background);
    border-radius: 10px;
    border-color: var(--text);
    color: white;
}
ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
}
li {
    list-style-type: none;
}
legend {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    padding-left: 5vh;
    padding-top: 4vh;
    color: rgba(236, 27, 236, 1)
}
.button {
    margin-top: 30px;
    margin-left: 10vh;
    width: 30vh;
    height: 5vh;
    background-color: var(--text);
    color: (--background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}
.button:hover {
    background-color: white;
}

.login {
    color: var(--text);
}
.login:hover {
    color: white;
}
.bottomText {
    padding-left: 10vh;
    color: white;
}
.caption {
    color: white;
    margin-top: 120%;
}
a {
    /* text-decoration: none; */
    color: white;
}
.error {
    border-color: red;
}
.hidden {
    color: red;
    opacity: 0;
}